.App {
  text-align: center;
}


.container  {
  background-color: #e4771ede;
  box-shadow: 3px 3px 3px black;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

